body{
    background: rgb(114, 114, 114);
    margin: 0;
    padding: 0;

}

#Logo{
    block-size: 50px;
    float: left;
    margin-left: 10px;
    border: 2px solid white;
    box-shadow: 10px 5px 15px black;
}

#Only_logo{
    display: flex;
    justify-content: flex-end;
    font-family:"Sofia",sans-serif
    
}

.with_Logo{
    
    list-style: none;
    color: white;
    font-size: 20px;
    display: inline;
    text-decoration: underline;
    margin: 10px;
    
}

#Background{
    position: relative;
    max-width: 1200px;
    max-height: auto;
    top: 69px;
    margin-left: 350px;
    margin-bottom: 200px;
    display: flex;
    box-shadow: 20px 20px 20px black;

}


#Background #Titre{
    position: absolute;
    bottom:325px;
    width: 1200px;
    background-color: rgb(114, 114, 114);
    color: white;
    text-align: center;
    list-style: none;
    font-size: 15px;
    padding: 0 0 0 0;
    text-shadow: 10px 8px 10px black;
    
}

main #Titre {
    text-align: center;
    color: white;
    text-shadow: 10px 10px 10px black;
}

#image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.picture {
    width: 400px;
    height: auto;
    box-shadow: 10px 30px 10px black;
    

}
.Text{
    font-size: 20px;
    text-align: center;
    border: 1px solid white;
    background-color: black;
    color: white;
}

#Loc{
    position: relative;
    display: inline-block;
    margin-left: 350px;
}

.text-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px ;
    border: 2px solid red;
    

   
}

#Loc{
    position: relative;
    box-shadow: 10px 10px 15px black;
    margin-bottom: 10px;
}




.text-block {
    width: 300px;
    height: auto;             /* s’adapte au contenu */
    background-color: rgba(0,0,0,0.7);
    color: white;
    display: flex;

    flex-direction: column;   /* empile les h3 verticalement */
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 10px 20px;
    font-size: 20px;
}

#Text1{
    left:18%
}
#Text3{
    left: 82%;
}
.text-block h3 {
    margin: 1px 0;           /* espace entre les lignes */
    font-weight: normal;      /* optionnel : plus léger */
}



#Loc h1{
    border: 2px solid white;
    text-align: center;
    display: flex;
    font-size: 60px;
    justify-content: center;
    bottom: 700px;
    position: relative;
    background-color: rgba(0,0,0,0.7);
    color: white;
}

footer{
    text-align: center;
    background:#333;
    padding: 20px;
    color: white;
}
