body{
    background-color: black;
    color: white;
    }

    header{
        text-align: center;
        padding: 50px;
    }
    

    video{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        max-width: 740px;
    }

    h1{
        font-size: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-weight: normal
    }

    p{
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: aquamarine;
    }

    h2{
        font-size: 21px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: grey;
        font-weight: normal;
    }

    #travel-guide{
        font-weight: 300;
        font-size: 42px;
    }

    video{
        width: 460px;
    }



    @media (max-width: 768px){
        video{
            width: 400px;
        }
        #camp{
            width: 80%;
        }
        #phone{
            width: 50px;
        }
    }