header{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    
}

nav{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 24px;
    gap: 16px;
}
nav a {

    text-decoration: none;

    padding: 32px 0px 32px 0px;

    
    
}

header h1{

    font-size: 32px;
    
}

header img{
    width: 40px;
}





#content{
    display: flex;
    align-items: center;
    background-color: grey;
    
}

#content img{
    width: 60%;
    margin: 24px 32px 24px 32px;
}

#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 80px;
    
}   

#text h1{
    font-size: 50px;
    
}

#text p{
    font-size: 30px;
    margin-top: 16px;
}

#text button{
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgb(80, 80, 80);
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 20px;
}